#wrapper{
	width: 1200px;
	margin: auto;
}

.right-box{
	width: 360px;
	/* border: 1px solid black; */
	float: left;
	height: 430px;
	margin-top: 20px;
	margin-left: 20px;

}

.poster{
	float: left;
}

.each-movie{
	/* clear: both; */
	margin: auto;
}

.carousel{
	margin-top: 20px;
}

.carousel-inner{
	width: 702px;
	text-align: center;
	margin: auto;
	border: 1px solid black;
	/* background-image: url('../images/inner-background.jpg'); */
	/* background-color: green; */
}

.poster img{
	height: 450px;
}

.item{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.title{
	font-size: 22px;
}

.second-title{
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}

.title-header{
	text-align: center;
	font-size: 44px;
	font-family: 'Julius Sans One', sans-serif;
	/* color: white; */
}

body{
	/* background-image: url('../images/lightgray.jpeg'); */
}

.movie-form{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.search-results{
	margin: 20px;
	width: 1060px;
	margin: auto;
	background-color: #C0C0C0;
	border-radius: 1%;
}

.search-results img{
	height: 300px;
	width: 175px;
	border: 1px solid black;
	padding: 2px;
	background-color: tan;
}

.searched-poster{
	display: inline-block;
}

.searched-title{
	font-weight: bold;
	color: orange;
}

.searched-overview{
	font-size: 16px;
}

.modal-content {
	/* style modal box here and possibly use !important */
	padding: 8px;
	border: 2px solid black;
	font-family: 'Julius Sans One', sans-serif;
	background-color: #555;
	color: white;
}

.modal{
	top: 300px;
}
